<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='parks.css') }}"> <!--Links CSS-->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"> <!--Favicon-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Rollercoaster World - Parks</h1>
        <nav>
            <ul>
                <li><a href="/random">Home</a></li>
                <li><a href="{{ url_for('coasters') }}">Coasters</a></li> <!-- Links to other pages -->
                <li><a href="{{ url_for('parks') }}">Parks</a></li>
            </ul>
        </nav>
    </header>
    <div class="search-container">
    <form>
      <input type="text" placeholder="Search.." role="search" name="search"> <!--Search bar-->
      <button type="submit"><i class="fa fa-search"></i>Search</button>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const searchInput = document.querySelector('input[name="search"]');
            const dataContainer = document.getElementById('data-table-container');

            searchInput.addEventListener('input', function() {
                const searchTerm = searchInput.value.toLowerCase();
                const dataRows = dataContainer.querySelectorAll('tr');

                dataRows.forEach(function(row) {
                    const parkName = row.cells[0].textContent.toLowerCase();

                    if (parkName.includes(searchTerm)) {
                        row.style.display = 'table-row';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });
        });
    </script>
  </div>

    <div class="container"> <!--Search Results-->
        <div id="data-table-container"></div>
        <div id="data-json-container"></div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                fetch('/data_parks')
                    .then(response => response.json())
                    .then(data => {
                        const dataTableContainer = document.getElementById('data-table-container');
                        const table = document.createElement('table');

                        // Create header row
                        const headerRow = document.createElement('tr');
                        for (let column in data[0]) {
                            const th = document.createElement('th');
                            th.textContent = column;
                            headerRow.appendChild(th);
                        }
                        table.appendChild(headerRow);

                        // Create data rows
                        data.forEach(item => {
                            const row = document.createElement('tr');
                            for (let column in item) {
                                const td = document.createElement('td');
                                if (column === 'Park Name') {
                                    const a = document.createElement('a');
                                    a.href = `/park/${encodeURIComponent(item[column])}`;
                                    a.textContent = item[column];
                                    td.appendChild(a);
                                } else {
                                    td.textContent = item[column];
                                }
                                row.appendChild(td);
                            }
                            table.appendChild(row);
                        });

                       dataTableContainer.appendChild(table);

                        const dataJsonContainer = document.getElementById('data-json-container');
                        
                    })
                    .catch(error => console.error('Error fetching data:', error));
            });
        </script>
    </div>

    <img src="/static/images/ukmap.jpg" alt="UK Mape">

    <footer>
        <p>Contact us at <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">shakyblakey123@gmail.com</a></p> <!--Links email-->
        <p>&copy; 2024 Rollercoaster World</p>
    </footer>
</body>
</html>
